{{! heach }}
<ol>
  {{#each countries}}
    <li>
      {{this}}
    </li>
  {{/each}}
</ol>

<table border='1'>
  <tr>
    <th>Sport</th>
  </tr>
  {{#each sports}}
    <tr>
      <td>{{this}}</td>
    </tr>
  {{/each}}
</table>